# Handle data for cancer

In [1]:
import pandas as pd
import numpy as np
import os
# os.getcwd()
# os.chdir("C:/STORE/nvtngan/project/github/N/BioRadar/data")

In [2]:
transcriptome_cpm_all_expressed_genes = pd.read_csv("00 DATA AND FINAL ANALYSIS RKO PKO RPKO.csv")
transcriptome_cpm_all_expressed_genes

,symbol_chr,P53KO-O1,p53KO-O2,p53KO-O-CAS1,p53KO-O-CAS2,p53KO-O-RAS1,p53KO-O-RAS2,WT-O1,WT-O2
0,1-Mar_chr8,585.490196,1033.666667,806.098039,745.686274,1166.128713,389.801980,43.568627,29.705882
1,2-Mar_chr17,2631.215686,3107.568627,2832.627451,2821.294118,6063.178218,4350.128713,2778.352941,2789.784314
2,3-Mar_chr18,6.470588,26.470588,33.705882,23.705882,41.762376,34.079208,29.921569,41.529412
3,4-Mar_chr1,0.000000,0.000000,5.941176,1.980392,0.000000,0.000000,0.000000,0.000000
4,5-Mar_chr19,4777.901961,4920.823529,4568.666667,4306.647059,12116.900990,8463.465347,3465.647059,3878.549020
...,...,...,...,...,...,...,...,...,...
19309,Zyg11a_chr4,47.313725,62.000000,16.529412,8.431373,157.504950,111.277228,90.529412,122.274510
19310,Zyg11b_chr4,1038.647059,1546.862745,1808.235294,1688.450980,2980.128713,2098.297030,1487.058824,2033.254902
19311,Zyx_chr6,2782.529412,3297.196078,3998.156863,3417.196078,5530.544554,2732.316832,1868.137255,1149.294118
19312,Zzef1_chr11,1424.607843,1662.509804,2429.862745,1706.117647,3351.306931,2094.653465,1436.176471,1845.039216
19313,Zzz3_chr3,1003.098039,1406.607843,1958.333333,1541.725490,2519.841584,1576.108911,799.078431,1192.235294

## CPM

In [3]:
# transcriptome_cpm_all_expressed_genes.iloc[:,1:3]
columns = transcriptome_cpm_all_expressed_genes.columns
num_col = len(transcriptome_cpm_all_expressed_genes.columns)
cpm = transcriptome_cpm_all_expressed_genes.copy()
for i in range(1,num_col):
    cpm.loc[:,columns[i]] =transcriptome_cpm_all_expressed_genes.loc[:,[columns[i]]]/transcriptome_cpm_all_expressed_genes.loc[:,[columns[i]]].sum(axis=0).sum()*1000000
cpm

,symbol_chr,P53KO-O1,p53KO-O2,p53KO-O-CAS1,p53KO-O-CAS2,p53KO-O-RAS1,p53KO-O-RAS2,WT-O1,WT-O2
0,1-Mar_chr8,11.793764,20.606209,15.715216,15.361312,8.714172,3.949115,0.655023,0.503073
1,2-Mar_chr17,53.001632,61.949573,55.223248,58.119319,45.308531,44.071504,41.770510,47.245317
2,3-Mar_chr18,0.130340,0.527693,0.657110,0.488347,0.312079,0.345259,0.449849,0.703305
3,4-Mar_chr1,0.000000,0.000000,0.115826,0.040797,0.000000,0.000000,0.000000,0.000000
4,5-Mar_chr19,96.243193,98.096922,89.068053,88.717937,90.546403,85.744048,52.103476,65.683673
...,...,...,...,...,...,...,...,...,...
19309,Zyg11a_chr4,0.953059,1.235974,0.322248,0.173688,1.176993,1.127359,1.361044,2.070733
19310,Zyg11b_chr4,20.921884,30.836805,35.252298,34.782485,22.269715,21.258016,22.356845,34.433405
19311,Zyx_chr6,56.049605,65.729808,77.945728,70.395039,41.328300,27.681322,28.086081,19.463428
19312,Zzef1_chr11,28.696446,33.142236,47.371183,35.146423,25.043432,21.221103,21.591866,31.245951
19313,Zzz3_chr3,20.205806,28.040815,38.178521,31.759906,18.830111,15.967686,12.013561,20.190641

In [4]:
# # transcriptome_cpm_all_expressed_genes.iloc[:,1:3]
# columns = transcriptome_cpm_all_expressed_genes.columns
# num_col = len(transcriptome_cpm_all_expressed_genes.columns)
# cpm = transcriptome_cpm_all_expressed_genes.copy()
# for i in range(0,round(num_col/2)):
#     cpm.loc[:,columns[i*2+1]] =transcriptome_cpm_all_expressed_genes.loc[:,[columns[i*2+1],columns[i*2+2]]].sum(axis=1)/transcriptome_cpm_all_expressed_genes.loc[:,[columns[i*2+1],columns[i*2+2]]].sum(axis=0).sum()*1000000
#     print(cpm.loc[:,columns[i*2+1]].sum())
#     cpm = cpm.drop([columns[i*2+2]],axis=1)
# cpm

## Normalize row

In [5]:
# for testing 
# transcriptome_cpm_all_expressed_genes = transcriptome_cpm_all_expressed_genes.iloc[0:100,:]

num_col = len(cpm.columns)

# transcriptome_cpm_all_expressed_genes.iloc[:,1:num_col].div(transcriptome_cpm_all_expressed_genes.iloc[:,1:num_col].sum(axis=1), axis=0)
for i in range(0,len(cpm)):
    x = cpm.iloc[i,1:num_col]
#     transcriptome_cpm_all_expressed_genes.iloc[i,1:num_col] = x/ np.linalg.norm(x)
    cpm.iloc[i,1:num_col] = x/ np.amax(x)
cpm

,symbol_chr,P53KO-O1,p53KO-O2,p53KO-O-CAS1,p53KO-O-CAS2,p53KO-O-RAS1,p53KO-O-RAS2,WT-O1,WT-O2
0,1-Mar_chr8,0.572340,1.000000,0.762645,0.745470,0.422891,0.191647,0.031788,0.024414
1,2-Mar_chr17,0.855561,1.000000,0.891423,0.938171,0.731378,0.711409,0.674266,0.762642
2,3-Mar_chr18,0.185324,0.750304,0.934317,0.694359,0.443732,0.490909,0.639621,1.000000
3,4-Mar_chr1,0.000000,0.000000,1.000000,0.352224,0.000000,0.000000,0.000000,0.000000
4,5-Mar_chr19,0.981103,1.000000,0.907960,0.904391,0.923030,0.874075,0.531143,0.669579
...,...,...,...,...,...,...,...,...,...
19309,Zyg11a_chr4,0.460252,0.596877,0.155620,0.083878,0.568394,0.544425,0.657276,1.000000
19310,Zyg11b_chr4,0.593490,0.874746,1.000000,0.986673,0.631724,0.603025,0.634195,0.976771
19311,Zyx_chr6,0.719085,0.843277,1.000000,0.903129,0.530219,0.355136,0.360329,0.249705
19312,Zzef1_chr11,0.605779,0.699629,1.000000,0.741937,0.528664,0.447975,0.455802,0.659598
19313,Zzz3_chr3,0.529245,0.734466,1.000000,0.831879,0.493212,0.418237,0.314668,0.528848

In [6]:
cpm.to_csv('RKO PKO RPKO_all.csv',index=False)