In [2]:
import pandas as pd
import os
import glob
print(glob.glob('.'))

['.']

In [8]:
for file_name in glob.iglob('./MC2-Image-Data/**/*.csv', recursive=True):
    try:
        df = pd.read_csv(file_name)
    except:
        print(file_name)

./MC2-Image-Data\Person26\Person26_6.csv

In [9]:
pd.read_csv('.\MC2-Image-Data\Person1\Person1_1.csv',encoding = "ISO-8859-1")

      x     y  Width  Height    Score           Label
0  1479    11   1922    1583  0.33861        birdCall
1  2554   313    955     888  0.28139         eyeball
2  1855  1724    578    1079  0.34569      pinkCandle
3    14   666   1465    2309  0.42683    pumpkinNotes
4  1560  1301   1197     615  0.32564  blueSunglasses
5    14   464   1775    2268  0.38394       yellowBag

In [10]:
Labels = pd.DataFrame({'person_as_time':[],'img':[],'term':[],'category':[],'score':[]})
start_time = pd.to_datetime('1/1/2019')
for file_name in glob.iglob('./**/*.csv', recursive=True):
    personIndex = file_name.split('\\')[-2].replace('Person','')
    time = start_time + pd.to_timedelta(personIndex+' days')
    df = pd.read_csv(file_name,encoding = "ISO-8859-1")
    img = file_name.split('\\')[-1].split('.csv')[0]
    term = []
    category = []
    score = []
    for index in range(0,df.shape[0]):
        row = df.loc[index]
        label = row['Label']
        term.append(label)
        category.append('label')
        score.append(label+':'+str(row['Score']))
    Labels = Labels.append({'person_as_time':time,'img':img,'term':'|'.join(term),'category':'|'.join(category),'score':';'.join(score)},ignore_index=True)

In [11]:
Labels

,person_as_time,img,term,category,score
0,2019-01-02,Person1_1,birdCall|eyeball|pinkCandle|pumpkinNotes|blueS...,label|label|label|label|label|label,birdCall:0.33860999999999997;eyeball:0.2813900...
1,2019-01-02,Person1_10,birdCall|eyeball|pinkCandle|sign|blueSunglasse...,label|label|label|label|label|label|label,birdCall:0.31486;eyeball:0.34418000000000004;p...
2,2019-01-02,Person1_11,birdCall|cupcakePaper|sign,label|label|label,birdCall:0.31745999999999996;cupcakePaper:0.32...
3,2019-01-02,Person1_2,cloudSign|eyeball|pinkCandle|redWhistle|sign|y...,label|label|label|label|label|label,cloudSign:0.26761999999999997;eyeball:0.288890...
4,2019-01-02,Person1_3,birdCall|cloudSign|eyeball|partyFavor|pinkCand...,label|label|label|label|label|label|label|label,birdCall:0.32366999999999996;cloudSign:0.28574...
...,...,...,...,...,...
902,2019-01-10,Person9_5,birdCall|pinkCandle|sign|yellowBag,label|label|label|label,birdCall:0.32993;pinkCandle:0.6486;sign:0.6548...
903,2019-01-10,Person9_6,eyeball|blueSunglasses,label|label,eyeball:0.40166999999999997;blueSunglasses:0.3...
904,2019-01-10,Person9_7,eyeball|pumpkinNotes|blueSunglasses|yellowBag,label|label|label|label,eyeball:0.32503000000000004;pumpkinNotes:0.286...
905,2019-01-10,Person9_8,eyeball|pumpkinNotes|redWhistle|trophy|blueSun...,label|label|label|label|label|label|label,eyeball:0.4456;pumpkinNotes:0.29717;redWhistle...
906,2019-01-10,Person9_9,birdCall|eyeball|blueSunglasses,label|label|label,birdCall:0.44903000000000004;eyeball:0.25527;b...

In [12]:
Labels.to_csv('data.csv',index=False)